<div>
    <div class="col-xs-8">
        <div transclude-id="datefor"></div>
        <div transclude-id="username1"></div>
        <div transclude-id="username2"></div>
    </div>
    <div class="col-xs-8">
        <div transclude-id="username3"></div>
        <div transclude-id="password"></div>
        <div transclude-id="linkedA"></div>
    </div>
    <div class="col-xs-8">
        <div transclude-id="linkedB"></div>
        <div transclude-id="roles"></div>
        <div transclude-id="username"></div>
    </div>
    <div ng-transclude></div>
</div>
