<div>
    <div class="col-xs-12">
        <div transclude-id="username"></div>
        <div transclude-id="password"></div>
        <div transclude-id="linkedA"></div>
        <div transclude-id="linkedB"></div>
        <div transclude-id="roles"></div>
        <div transclude-id="write"></div>
        <div transclude-id="datefor"></div>
        <div transclude-id="timefor"></div>
        <div transclude-id="datetime"></div>
        <div transclude-id="country"></div>
        <div transclude-id="sql"></div>
        <div transclude-id="satisfied"></div>
        <div transclude-id="sex"></div>
        <div transclude-id="color"></div>
        <div transclude-id="employNum"></div>
        <div transclude-id="contact"></div>
        <div transclude-id="editor"></div>
    </div>
    <div class="col-xs-12">
        <div transclude-id="username1"></div>
        <div transclude-id="password1"></div>
        <div transclude-id="linkedA1"></div>
        <div transclude-id="linkedB1"></div>
        <div transclude-id="roles1"></div>
        <div transclude-id="write1"></div>
        <div transclude-id="datefor1"></div>
        <div transclude-id="timefor1"></div>
        <div transclude-id="datetime1"></div>
        <div transclude-id="country1"></div>
        <div transclude-id="sql1"></div>
        <div transclude-id="satisfied1"></div>
        <div transclude-id="sex1"></div>
        <div transclude-id="color1"></div>
        <div transclude-id="employNum1"></div>
        <div transclude-id="contact1"></div>
        <div transclude-id="editor1"></div>
        <div transclude-id="group"></div>
    </div>
    <div ng-transclude></div>
</div>
