<div>
<div class="form-group" ng-form="myForm" ng-repeat="field in form.config.fields track by $index">
	<label class="col-xs-4 control-label">
	  <span ng-show="field.required">*</span>
	  {{ field.label }}:
	</label>
	<div ng-switch="field.type">
	  <div ng-switch-when="input">
	    <div class="col-xs-7" app-input-text-component field="field" model="form.result[field.name]">
	    </div>
	  </div>
	  <div ng-switch-when="input:url">
	    <div class="col-xs-7" app-input-url-component field="field" model="form.result[field.name]">
	    </div>
	  </div>
	  <div ng-switch-when="input:email">
	    <div class="col-xs-7" app-input-email-component field="field" model="form.result[field.name]">
	    </div>
	  </div>
	  <div ng-switch-when="input:date">
	    <div class="col-xs-7" app-input-date-component field="field" model="form.result[field.name]">
	    </div>
	  </div>
	  <div ng-switch-when="input:password">
	    <div class="col-xs-7" app-input-password-component field="field" model="form.result[field.name]">
	    </div>
	  </div>
	  <div ng-switch-when="input:checkbox">
	    <div class="col-xs-7" app-input-checkbox-component field="field" model="form.result[field.name]">
	    </div>
	  </div>
	  <div ng-switch-when="input:radio">
	    <div class="col-xs-7" app-input-radio-component field="field" model="form.result[field.name]">
	    </div>
	  </div>
	  <div ng-switch-when="textarea">
	    <div class="col-xs-7" app-textarea-component field="field" model="form.result[field.name]">
	    </div>
	  </div>
	  <div ng-switch-when="select">
	    <div class="col-xs-7" app-select-component field="field" model="form.result[field.name]">
	    </div>
	  </div>
	  <div ng-switch-when="button">
	    <div class="col-xs-7" app-button-component field="field" model="form.result[field.name]">
	    </div>
	  </div>
	</div>
</div>
<input type="submit" ng-if="form.config.showSubmit"/>
<div ng-transclude></div>
</div>