<ui-select multiple tagging="vm.tagTransform" close-on-select="true" sortable="true" ng-disabled="disabled" ng-model="vm.result" style="width: 300px;" title="Choose a color">
    <ui-select-match placeholder="Select colors...">{{$item.name}}: {{$item.id}}</ui-select-match>
    <ui-select-choices repeat="item in (vm.itemArray | filter: $select.search)">
        <div ng-if="item.isTag" ng-bind-html="item.name +' <small>(new)</small>'| highlight: $select.search"></div>
        <div ng-if="!item.isTag" ng-bind-html="item.name + item.isTag| highlight: $select.search"></div>
        <small>
            id: {{item.id}}
            name: <span ng-bind-html="''+item.name | highlight: $select.search"></span>
        </small>
    </ui-select-choices>
</ui-select>