<form u-form-group
    novalidate
	 name="{{vm.name}}"
	 fields="vm.fields"
	 result="vm.result"
	 ng-submit='vm.submit()'>
	 <div u-form
	      ng-class="vm.group1.option.formClass"
		  fields="vm.group1.fields"
		  option="vm.group1.option"
		  result="vm.group1.result" style="margin-left: 80px;margin-bottom: 25px"></div>
		  <hr/>
	 <div u-form
	      ng-class="vm.group2.option.formClass"
		  fields="vm.group2.fields"
		  option="vm.group2.option"
		  result="vm.group2.result"></div>
</form>
